---
import Layout from "../layout/Layout.astro";
import { Image } from 'astro:assets';
import linkedinIcon from '@/assets/linkedin-svgrepo-com.svg';
import emmanuel from '@/assets/team/Emmanuel.jpg';
import alexandra from '@/assets/team/alexandra_camunas.jpg';
import sebastian from '@/assets/team/sebastian_estrada.jpg';
import ricardo from '@/assets/team/ricardo_morell.jpg';
import samuel from '@/assets/team/samuel_hernandez.jpg';


import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";

import { Badge } from '@/components/ui/badge';


---

<Layout title="About RUMSpotWatch">

    <div class="flex flex-wrap justify-center items-start max-w-screen h-full"> 
        <Card className="m-5 max-w-80 min-w-60 md:max-w-96 lg:max-w-2xl card-overrides flex-row items-center gap-0 py-3">
            <div class="w-full flex justify-center items-center p-2 max-w-18 lg:max-w-24">
                <Image src={emmanuel} alt="Emmanuel Gonzalez Morales" class="w-full min-w-10 max-h-16 max-w-16 lg:max-h-20 lg:max-w-20 rounded-lg object-cover border-1 border-r-3 border-b-3 border-black " />
            </div>
            <CardContent className="flex flex-1 w-full h-full items-center justify-center flex-col p-0">
                <CardTitle className="flex w-full text-lg sm:text-xl font-bold flex-row justify-between">
                <div class="gap-0 leading-tight">
                    <span class="text-base leading-none"> Emmanuel González </span>   
                    <h3 class="text-xs font-semibold text-gray-600 tracking-wide leading-none pb-1">Software Engineer</h3>
                </div>
       
                <a href="https://www.linkedin.com/in/emmanuel-gonzalez-morales22/" 
                target="_blank" rel="noopener noreferrer" class="pr-4">
                    <Image src={linkedinIcon} alt="LinkedIn" class="icon-style rounded-md" />
                </a>
                </CardTitle>
                
               
                <div class="card-footer flex-1 w-full flex-row items-start py-1"> 
                    <Badge className="badge text-xs">Data Eng</Badge>
                    <Badge className="badge">Mobile dev</Badge>
                    <Badge className="badge">Web dev</Badge>
                </div>

            </CardContent>
        </Card>


        <Card className="m-5 max-w-80 min-w-60 md:max-w-96 lg:max-w-2xl card-overrides flex-row items-center gap-0 py-3">
            <div class="w-full flex justify-center items-center p-2 max-w-18 lg:max-w-24">
                <Image src={samuel} alt="Samuel Hernandez" class="w-full min-w-10 max-h-16 max-w-16 lg:max-h-20 lg:max-w-20 rounded-lg object-cover border-1 border-r-3 border-b-3 border-black " />
            </div>
            <CardContent className="flex flex-1 w-full h-full items-center justify-center flex-col p-0">
                <CardTitle className="flex w-full text-lg sm:text-xl font-bold flex-row justify-between">
                <div class="gap-0 leading-tight">
                    <span class="text-base leading-none">Samuel Hernandez</span>   
                    <h3 class="text-xs font-semibold text-gray-600 tracking-wide leading-none pb-1">Computer Engineer</h3>
                </div>
       
                <a href="https://www.linkedin.com/in/samuel-hernandez-colon-875a43201/" 
                target="_blank" rel="noopener noreferrer" class="pr-4">
                    <Image src={linkedinIcon} alt="LinkedIn" class="icon-style rounded-md" />
                </a>
                </CardTitle>
                
               
                <div class="card-footer flex-1 w-full flex-row items-start py-1"> 
                    <Badge className="badge text-xs">Computer Vision</Badge>
                    <Badge className="badge text-xs">Backend</Badge>
                </div>

            </CardContent>
        </Card>


        <Card className="m-5 max-w-80 min-w-60 md:max-w-96 lg:max-w-2xl card-overrides flex-row items-center gap-0 py-3">
            <div class="w-full flex justify-center items-center p-2 max-w-18 lg:max-w-24">
                <Image src={alexandra} alt="Alexandra Camuñas" class="w-full min-w-10 max-h-16 max-w-16 lg:max-h-20 lg:max-w-20 rounded-lg object-cover border-1 border-r-3 border-b-3 border-black " />
            </div>
            <CardContent className="flex flex-1 w-full h-full items-center justify-center flex-col p-0">
                <CardTitle className="flex w-full text-lg sm:text-xl font-bold flex-row justify-between">
                <div class="gap-0 leading-tight">
                    <span class="text-base leading-none">Alexandra Camuñas</span>   
                    <h3 class="text-xs font-semibold text-gray-600 tracking-wide leading-none pb-1">UX/UI Designer</h3>
                </div>
       
                <a href="https://www.linkedin.com/in/alexandra-i-c-191193271/" 
                target="_blank" rel="noopener noreferrer" class="pr-4">
                    <Image src={linkedinIcon} alt="LinkedIn" class="icon-style rounded-md" />
                </a>
                </CardTitle>
                
               
                <div class="card-footer flex-1 w-full flex-row items-start py-1"> 
                    <Badge className="badge text-xs">High Fed.</Badge>
                    <Badge className="badge text-xs">Wireframes</Badge>
                </div>

            </CardContent>
        </Card>


        <Card className="m-5 max-w-80 min-w-60 md:max-w-96 lg:max-w-2xl card-overrides flex-row items-center gap-0 py-3">
            <div class="w-full flex justify-center items-center p-2 max-w-18 lg:max-w-24">
                <Image src={sebastian} alt="Sebastian Estrada" class="w-full min-w-10 max-h-16 max-w-16 lg:max-h-20 lg:max-w-20 rounded-lg object-cover border-1 border-r-3 border-b-3 border-black " />
            </div>
            <CardContent className="flex flex-1 w-full h-full items-center justify-center flex-col p-0">
                <CardTitle className="flex w-full text-lg sm:text-xl font-bold flex-row justify-between">
                <div class="gap-0 leading-tight">
                    <span class="text-base leading-none">Sebastian Estrada</span>   
                    <h3 class="text-xs font-semibold text-gray-600 tracking-wide leading-none pb-1">Software Engineer</h3>
                </div>
       
                <a href="https://www.linkedin.com/in/estradalopezsebastian/" 
                target="_blank" rel="noopener noreferrer" class="pr-4">
                    <Image src={linkedinIcon} alt="LinkedIn" class="icon-style rounded-md" />
                </a>
                </CardTitle>
                
               
                <div class="card-footer flex-1 w-full flex-row items-start py-1"> 
                    <Badge className="badge text-xs">Computer Vision</Badge>
                    <Badge className="badge text-xs">Web dev</Badge>
                </div>

            </CardContent>
        </Card>

    </div>


</Layout>

<style>
    .icon-style {
        width: 24px;
        height: auto;
        box-shadow: 5px 5px 0px black;
    }

    .icon-style:hover {
            box-shadow: 8px 8px 0px black;
            transform: translateY(-2px);
            transition: all 0.2s ease-in-out;
    }

    .icon-style:active {
            box-shadow: 2px 2px 0px black;
            transform: translateY(2px);
            transition: all 0.1s ease-in-out;
    }
    .card-overrides{
        background-color: white;
        width: 100%;
        @media screen and (max-width: 640px) {
            width: 100%;
        }
    }

    .card-footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 0.5rem;
    }

    .badge{
        border: 1px solid var(--secondary-color);
        color: var(--secondary-color);
        background-color: var(--secondary-accent);

    }
</style>